<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome, <%= user.username %></h1>
  <a href="/<%= user.id %>/pipeline-123">Go to Canvas</a><br/>
  <a href="/auth/logout">Logout</a>
</body>
</html>
